{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

# Install Hyper Shell via Homebrew

source /tmp/chezmoi-utils.sh

printf "${green}[01 - macOS] ${reset}"
{{- if or (lt 01 (atoi (env "SCRIPTS_START_AT"))) (env "SKIP_HYPER_INSTALL") }}
echo "Skip installing Hyper Shell"
exit 0
{{ else }}
echo "Install Hyper Shell via Homebrew"
{{- end }}

set -eufo pipefail

brew bundle --no-lock --file=/dev/stdin <<EOF || :
brew "hyper"
EOF

{{ end -}}