opam-version: "2.0"
variables {
  native: true
  native-tools: true
  native-dynlink: true
  stubsdir:
    "/Users/localhost/.local/share/chezmoi/home/.chezmoiscripts/universal/default/lib/ocaml/stublibs:/Users/localhost/.local/share/chezmoi/home/.chezmoiscripts/universal/default/lib/ocaml"
  preinstalled: false
  compiler: "5.2.0"
}
