{{- $email := "adelarab.school@gmail.com" -}}
{{- $github_user := "sosumappu" -}}
{{- $computer_name := default "Erdnase" (env "CM_computer_name") -}}
{{- $hostname := default "sosumappu" (env "CM_hostname") -}}
{{- $is_codespace := false }}
{{- $passphrase := default "change me with 'SETPASS=1 chezmoi init'" (index . "passphrase") -}}

{{- $is_codespace:= env "CODESPACES" | not | not -}}

{{- if (env "ASK") }}
{{-   $computer_name = promptString "Computer Name" $computer_name -}}
{{-   $hostname = promptString "Hostname" $hostname -}}
{{-   $email = promptString "Email" $email -}}
{{-   $github_user = promptString "GitHub Username" $github_user -}}
{{- end }}

{{- if (env "SETPASS") }}
{{    $passphrase = promptString "Encryption Passphrase" $passphrase -}}
{{- end }}

{{- $delta_is_not_installed := true }}
{{- if (contains "delta" (output "bash" "-c" "command -v delta || true")) }}
{{-   $delta_is_not_installed = false }}
{{- end }}

data:
  email: {{ $email | quote }}
  github_user: {{ $github_user | quote }}
  computer_name: {{ $computer_name | quote }}
  hostname: {{ $hostname | quote }}
  passphrase: {{ $passphrase | quote }}

  flags:
    delta_is_not_installed: {{ $delta_is_not_installed }}
    is_codespace: {{ $is_codespace }}

encryption: gpg
gpg:
  symmetric: true
  args: ["--batch", "--passphrase", {{ $passphrase | quote }}, "--no-symkey-cache", "--quiet"]