{{- if .flags.is_codespace -}}
#!/bin/sh

# Install Packages

# FIXME: cargo not available in codespaces since rust is no installed
# cargo install git-delta # Error: "memory allocation of 7881122326526296064 bytes failed"

echo "Installing VsCode Extensions..."

#Check if code is installed
if !command -v code >/dev/null 2>&1; then
  echo "code isn't installed, please install and retry."
  exit 0
fi

{{ $ext := list
  "alexdima.copy-relative-path"
  "alexkrechik.cucumberautocomplete"
  "aaron-bond.better-comments"
  "esbenp.prettier-vscode"
  "github.copilot"
  "ritwickdey.liveserver"
  "mikestead.dotenv"
  "EditorConfig.EditorConfig"
  "nrwl.angular-console"
  "teabyii.ayu"
  "oderwat.indent-rainbow"
  "mhutchie.git-graph"
  "ms-python.python"
}}

{{ range ($ext | sortAlpha | uniq) -}}
  code --install-extension "{{ . }}" --force
{{ end -}}

echo "VsCode Exntensions Installed!"
{{ end -}}