#!/usr/bin/env bash
set -eufo pipefail

source $HOME/.config/shell/exports.sh

# renovate: depName=aquaproj/aqua datasource=github-releases
current_aqua_version=v2.36.2
aqua_installer_version=v3.0.1

# Download and verify aqua-installer
if [ ! -f "aqua-installer" ]; then
  curl -sSfL -O "https://raw.githubusercontent.com/aquaproj/aqua-installer/$aqua_installer_version/aqua-installer"
  echo "fb4b3b7d026e5aba1fc478c268e8fbd653e01404c8a8c6284fdba88ae62eda6a  aqua-installer" | sha256sum -c
  chmod +x aqua-installer
fi

# Check and install aqua if necessary
if [ ! $(command -v aqua) ] || [ "$(aqua -v | head -n1 | cut -d" " -f3 | sed "s/^/v/")" != "$current_aqua_version" ]; then
  echo "Installing aqua $current_aqua_version"
  ./aqua-installer -v "$current_aqua_version"
fi

rm -f aqua-installer

{{- $files := list -}}
{{- range $path := glob (list .host.source "private_dot_config/exact_aqua/**/*.yaml.tmpl" | join "/") }}
{{- $files = concat $files (list (include $path)) -}}
{{- end }}

# aqua.yaml.tmpl hash: {{ $files | join "" | sha256sum }}
aqua install -a
