#!/usr/bin/env bash
set -eufo pipefail

# {{ includeTemplate "universal/next-update" . }}

if [ ! "$(command -v dcli)" ]; then
  echo "Dashlane CLI command was not found"
  exit 1
elif ! dcli a whoami &> /dev/null; then
  echo "Please login to Dashlane"
  exit 1
fi

rm -f "{{ .cache.secrets.dir }}/*"
mkdir -p "{{ .cache.secrets.dir }}"

secrets=(
  id_ed25519.key
)

for secret in "${secrets[@]}"
do
    dcli n $secret > "{{ .cache.secrets.dir }}/$secret"
    chmod 600 "{{ .cache.secrets.dir }}/$secret"
done
