{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

source /tmp/chezmoi-utils.sh

printf "${green}[22 - macOS] ${reset}"
{{- if or (lt 22 (atoi (env "SCRIPTS_START_AT"))) (env "SKIP_MAS") }}
echo "Skip installing Mac App Store apps via mas"
exit 0
{{ else }}
echo "Install Mac App Store apps via mas"
{{- end }}

set -ufo pipefail

{{- if not (eq .computer_name "Erdnase") }}
mas account &> /dev/null

if [[ $? -ne 0 ]]; then
  echo "Please login to Mac app store first, then run command again"
  mas open
  exit 0
fi
{{- end }}

brew bundle --no-lock --file=/dev/stdin <<EOF

mas "Keka", id: 470158793
mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Xcode", id: 497799835
mas "Notability", id: 360593530
mas "Dashlane", id: 552383089
mas "iStat Menus", id: 1319778037
mas "Slack", id: 803453959

EOF
{{ end -}}